* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

$primary-color :'#000';
$secondary-color: '#fff';
$other-color : '#B4E9FF';

body {
    font-family: 'Poppins', sans-serif;
    background-color: #f5f5f5;
    margin: 1% 2% !important;
    overflow-x: hidden;

}


.cta-nav-glass {
    border-radius: 1.25rem;
    background: rgba(180, 233, 255, 0.52);
    backdrop-filter: blur(40px);
    position: sticky;
    top: 0px;

}